---

# Assignment 6: Working with Dictionaries and Loops

---


### 1. Find the highest-paid employee

**Task:** Given a dictionary of employee names and their salaries, write a function to return the name of the highest-paid employee.

**Input Example:**

```python
employees = {"Alice": 70000, "Bob": 85000, "Charlie": 65000}
```

**Expected Output:**

```
Bob
```

---


### 2. Filter items priced above \$100

**Task:** From a dictionary of items and prices, create a new dictionary with only items priced above \$100.

**Input Example:**

```python
items = {"Watch": 150, "Pen": 10, "Bag": 120, "Shoes": 90}
```

**Expected Output:**

```python
{"Watch": 150, "Bag": 120}
```

---


### 3. Simple grading system

**Task:** Given a dictionary of student marks, print grades using a loop and these ranges:

* 90 and above: A
* 80 to 89: B
* 70 to 79: C
* Below 70: F

**Input Example:**

```python
marks = {"John": 95, "Emma": 82, "David": 74, "Sophia": 65}
```

**Expected Output:**

```
John: A  
Emma: B  
David: C  
Sophia: F
```

---


### 4. Count number of words in a paragraph

**Task:** Count the number of words in a paragraph using a dictionary and a loop.

**Input Example:**

```python
paragraph = "Hello world hello"
```

**Expected Output:**

```
Total words: 3
```

---


### 5. Word frequency ignoring case and punctuation

**Task:** Write a program to count the frequency of words ignoring case and punctuation.

**Input Example:**

```python
text = "Hello, hello! How are you? Are you fine?"
```

**Expected Output:**

```python
{'hello': 2, 'how': 1, 'are': 2, 'you': 2, 'fine': 1}
```

---


### 6. Print prime numbers between 10 and 50

**Task:** Use a for loop to print all prime numbers between 10 and 50.

**Expected Output:**

```
11 13 17 19 23 29 31 37 41 43 47
```

---


### 7. Find first non-repeating character

**Task:** Write a loop to find the first non-repeating character in a string.

**Input Example:**

```python
s = "swiss"
```

**Expected Output:**

```
w
```

---


### 8. Separate even and odd numbers into dictionary lists

**Task:** Given a list of numbers, separate them into even and odd lists and store in a dictionary.

**Input Example:**

```python
numbers = [1, 2, 3, 4, 5, 6]
```

**Expected Output:**

```python
{'even': [2, 4, 6], 'odd': [1, 3, 5]}
```

---


### 9. Print right-angled triangle pattern of numbers

**Task:** Use nested loops to print a right-angled triangle pattern of numbers.

**Input:**
Print numbers from 1 to 5 in increasing order per line.

**Expected Output:**

```
1  
1 2  
1 2 3  
1 2 3 4  
1 2 3 4 5
```

---


### 10. Build dictionary of word counts from string

**Task:** From a string, build a dictionary showing each word and how many times it appears using a loop.

**Input Example:**

```python
sentence = "apple banana apple orange banana apple"
```

**Expected Output:**

```python
{'apple': 3, 'banana': 2, 'orange': 1}
```

---